.main{
	
	border: 1px solid;
	width: 1000px;
	height: 1000px;
}
.feng{
	
	border: 1px solid;
	width: 820px;
	height: 200px;
	background-color: #F9F9F9;
}
.feng1{
	
	border: 1px solid;
	width: 820px;
	height: 200px;
	background-color: #E5E5E5;
}
.main .p1{
	margin-top:0px;
	margin-left:0px;
	color: blue;
	font-family:  Î¢ÈíÑÅºÚ,ËÎÌå;
	font-size: 35px;
	
}
.main .p2{
	text-align:center;
}
.main .p3{
 	text-align:right;
 	
	margin-top:80px;
	color: gray;
}