<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pet</display-name>
  <servlet>
    <servlet-name>d</servlet-name>
    <servlet-class>com.hws.controller.userServlet</servlet-class>
    <multipart-config>
      <max-file-size>51200</max-file-size>
      <max-request-size>52224</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>d</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e</servlet-name>
    <servlet-class>com.hws.controller.barcontextServlet</servlet-class>
    <multipart-config>
      <max-file-size>51200</max-file-size>
      <max-request-size>52224</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>e</servlet-name>
    <url-pattern>/barcontextServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>first.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>